.navbar{
    background-color:blueviolet
}

body{
    background-color: rgb(138, 127, 148);
}

.modal-body{
    background-color: rgb(138, 127, 148);
}

.modal-header{
    color: floralwhite;
}

.btn-close{
background-color: floralwhite;
}

.error{
    border:3px solid red;
    
}

.err-msg{
    color:red;
}

#dashboard{
    width: 300px;
    height:500px;
}
    
.hide{
    display:none;
    visibility: hidden;
}

.show{
    display:block;
    background-color:rgb(38, 24, 53); 
}